[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap5 = "*"
requests = "*"
python-dotenv = "*"
pyjwt = "*"
django-zoom-meetings = "*"
django-cors-headers = "*"
django-cleanup = "*"
gunicorn = "*"
django-environ = "==0.4.4"
psycopg2-binary = "*"
gevent = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
